
#logo {
    max-width: 64px;
    max-height: 64px;
}

img {
    max-width: 256px;
    max-height: 256px;
}

article {
    max-width: fit-content;
}

.examples {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}